WORKDATA_ROOT=G:\workdata
PAH_DATA_ROOT=G:\workdata\projects\project-001-pulmonary-arterial-hypertension-transcriptomics
PAH_OUTPUT_ROOT=G:\workdata\projects\project-001-pulmonary-arterial-hypertension-transcriptomics\outputs\current-results
PAH_INTERIM_ROOT=G:\workdata\projects\project-001-pulmonary-arterial-hypertension-transcriptomics\interim
R_LIBS_USER=G:\workdata\projects\project-001-pulmonary-arterial-hypertension-transcriptomics\cache\R\4.6-library

